@model IEnumerable<MagicVilla_Web.Models.DTO.VillaNumberDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa List</h1>
        </div>
        <div class="col text-end pt-1">
            <a class="btn btn-outline-primary" asp-controller="VillaNumber" asp-action="CreateVillaNumber"> <i class="bi bi-plus-square-fill"></i> Cteate New Villa</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Villa Name</th>
        <th>Villa Number</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var it in Model)
            {
                <tr>
                    <td>@it.Villa.Name</td>
                    <td>@it.VillaNo</td>
                    
                    <td>
                        <a class="btn btn-success" asp-controller="VillaNumber" asp-action="UpdateVillaNumber" asp-route-villaId="@it.VillaNo"> <i class="bi bi-pencil-square"></i> </a>
                        <a class="btn btn-danger" asp-controller="VillaNumber" asp-action="DeleteVillaNumber" asp-route-villaId="@it.VillaNo"> <i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>